<app-card [title]="log.name" [imageUrl]="imageUrl">
  <div card-header-actions class="log-actions">
    <a [routerLink]="['/edit-tour-log', log.logId]" class="action-link">Edit</a>
    <a (click)="delete.emit(log.logId)" class="action-link danger">Delete</a>
  </div>

  <p><strong>Date:</strong> {{ log.dateTime | date: 'shortDate' }}</p>
  <p><strong>Stats:</strong> {{ log.totalDistance }} km in {{ log.totalTime }} hrs</p>
  <p><strong>Difficulty:</strong> {{ log.difficulty }}</p>
  <p><strong>Rating:</strong> {{ log.rating }} / 5</p>

  @if (log.comment) {
    <p class="comment">
      <em>"{{ log.comment }}"</em>
    </p>
  }
</app-card>
