.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: white;
  border-bottom: 1px solid #939496;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.brand {
  font-size: 1.5rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  align-items: center;

  a {
    text-decoration: none;
    color: #4b5563;
    font-size: 0.9rem;

    &:hover {
      color: #111827;
    }
    &.active {
      color: #111827;
      text-decoration: underline;
    }
  }

  .logout {
    color: #6b7280;
  }
}
